.boton1 {
    relleno : 20 px ;
    borde : 2 px negro sólido;
    color de fondo : # DDBEE6 ;
}
.boton2 {
    relleno : 20 px ;
    borde : 2 px negro sólido;
    color de fondo : # DDBEE6 ;
}
.opacidad {
    opacidad : 0.5 ;    
}